./main

*.log
*~
.DS_Store

awscpu

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.profile

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore GoLand metafiles directory
.idea/

*logs/

.vscode*
.env

*.pb*

# db*

*cpu[0-9]*
*mem[0-9]*
*lock[0-9]*
*.profile
*.txt
*.swp
*.aux
*.fdb*
*.fls
*.gz
*.pdf

.coverage

bin/
build/
vendor

.blob-cli-pk
genesis.json
*.test

dist/
*.pk
tmp-storage-testing
.token-cli*
deploys/
.morpheus-cli*
*.coverage.html
data/
osxcross/

/target/
target/
Cargo.lock
**/*.rs.bk

x/programs/cmd/simulator/simulator