# Copyright (C) 2023, Ava Labs, Inc. All rights reserved.
# See the file LICENSE for licensing terms.

name: TokenVM Sync Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    environment: "sync"
    runs-on:
      labels: ubuntu-20.04-32
    timeout-minutes: 25
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"
          check-latest: true
      - name: Run sync tests
        working-directory: ./examples/tokenvm
        shell: bash
        run: scripts/run.sh
        env:
          MODE: "full-test"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
